@model List<EmpresaResponse>

@{
    ViewBag.Title = "Solicitar Fianza";
    ViewBag.pTitle = "Fianzas";
    ViewBag.pageTitle = "Otorgar Fianza";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}

@using Microsoft.AspNetCore.Http
@{
    var usuarioId = ViewContext.HttpContext.Session.GetInt32("UsuarioId");
    var perfilId = ViewContext.HttpContext.Session.GetInt32("PerfilId");
    var usuarioNombre = ViewContext.HttpContext.Session.GetString("UsuarioNombre");
    var usuarioCargo = ViewContext.HttpContext.Session.GetString("UsuarioPerfil");
}

@using System.Text.Json

<!-- Se define la variable global para que el JS pueda utilizarla -->
<script>
    var empresasData = @Html.Raw(JsonSerializer.Serialize(ViewBag.Empresas));
</script>

<div class="row">
    <form id="solicitudFianzaForm" asp-action="CrearSolicitud" asp-controller="Solicitud" method="post" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
        <input type="hidden" name="SfUsuarioId" id="usuarioId" value="@usuarioId" />

        <div class="col-xxl-12">
            <div class="card mt-xxl-n5">
                <div class="card-body p-4">
                    <h2 class="mb-0">Creación y Validación de Solicitud</h2>
                    <hr />
                    <div class="tab-content">
                        <div class="tab-pane active" id="personalDetails" role="tabpanel">
                            <div class="row">
                                <!-- Selección de la Empresa -->
                                <div class="col-md-3">
                                    <label for="empresaSelect" class="form-label">Empresa</label>
                                    <select class="form-control" data-choices data-choices-sorting-false required id="empresaSelect" name="SfEmpId">
                                        <option value="">Seleccione una empresa</option>
                                        @foreach (var empresa in ViewBag.Empresas)
                                        {
                                            <option value="@empresa.EmpId">@empresa.EmpNombre</option>
                                        }
                                    </select>
                                    <div class="invalid-feedback">Seleccione una empresa válida.</div>
                                </div>
                                <div class="col-md-3">
                                    <label for="cupoDisponible" class="form-label">Cupo Disponible ($)</label>
                                    <input type="text" class="form-control" id="cupoDisponible" readonly>
                                </div>

                                <!-- Tipo de Fianza -->
                                <div class="col-md-6">
                                    <label for="tipoFianza" class="form-label">Tipo de Fianza</label>
                                    <select class="form-control" data-choices data-choices-sorting-false required id="tipoFianza" name="SfTposId">
                                        <option value="">Seleccione un tipo de fianza...</option>
                                        @foreach (var tipo in ViewBag.TiposSolicitud)
                                        {
                                            <option value="@tipo.TposId">@tipo.TposNombre</option>
                                        }
                                    </select>
                                    <div class="invalid-feedback">Seleccione un tipo de fianza válido.</div>
                                </div>

                                <!-- Sección para FCC/BUA -->
                                <div id="datosContrato" class="d-none">
                                    <hr />
                                    <div class="row g-3">
                                        <!-- Información del Solicitante (se autocompleta con datos de la empresa) -->
                                        <div class="divider-with-text">
                                            <span>Información del solicitante</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="tipoSector" class="form-label">Tipo de Sector</label>
                                            <select class="form-select" id="tipoSector" name="SfSectorFianza" required >
                                                <option disabled value="">Seleccione un tipo de sector...</option>
                                                <option readonly value="Público">Público</option>
                                                <option selected value="Privado">Privado</option>
                                            </select>
                                            <div class="invalid-feedback">Seleccione un tipo de sector válido.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="solicitante" class="form-label">Solicitante/Afianzado/Contratista</label>
                                            <input type="text" class="form-control" id="solicitante" readonly>
                                            <div class="invalid-feedback">Ingrese el nombre del solicitante.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="direccionSolicitante" class="form-label">Dirección</label>
                                            <input type="text" class="form-control" id="direccionSolicitante" readonly>
                                            <div class="invalid-feedback">Ingrese la dirección.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="rucSolicitante" class="form-label">CI/RUC</label>
                                            <input type="text" class="form-control" id="rucSolicitante" readonly>
                                            <div class="invalid-feedback">Ingrese el CI o RUC.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="emailSolicitante" class="form-label">E-mail</label>
                                            <input type="email" class="form-control" id="emailSolicitante" readonly>
                                            <div class="invalid-feedback">Ingrese un e-mail válido.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="telefonoSolicitante" class="form-label">Teléfono/Celular</label>
                                            <input type="text" class="form-control" id="telefonoSolicitante" readonly>
                                            <div class="invalid-feedback">Ingrese un teléfono o celular.</div>
                                        </div>
                                        <!-- Información del Beneficiario -->
                                        <div class="divider-with-text">
                                            <span>Información del beneficiario</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="beneficiario" class="form-label">Beneficiario</label>
                                            <input type="text" class="form-control" id="beneficiario" name="BenNombre" required>
                                            <div class="invalid-feedback">Ingrese el nombre del beneficiario.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="direccionBeneficiario" class="form-label">Dirección</label>
                                            <input type="text" class="form-control" id="direccionBeneficiario" name="BenDireccion" required>
                                            <div class="invalid-feedback">Ingrese la dirección del beneficiario.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="rucBeneficiario" class="form-label">CI/RUC</label>
                                            <input type="text" class="form-control" id="rucBeneficiario" name="BenCiRuc" required>
                                            <div class="invalid-feedback">Ingrese el CI o RUC del beneficiario.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="emailBeneficiario" class="form-label">E-mail</label>
                                            <input type="email" class="form-control" id="emailBeneficiario" name="BenEmail" required>
                                            <div class="invalid-feedback">Ingrese un e-mail válido.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="telefonoBeneficiario" class="form-label">Teléfono/Celular</label>
                                            <input type="text" class="form-control" id="telefonoBeneficiario" name="BenTelefono" required>
                                            <div class="invalid-feedback">Ingrese un teléfono o celular.</div>
                                        </div>
                                        <div class="divider-with-text">
                                            <span>Información adicional</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="montocontrato" class="form-label">Monto del contrato ($)</label>
                                            <input type="text" class="form-control" id="montocontrato" name="SfMontoContrato" required>
                                            <div class="invalid-feedback">Ingrese el monto del contrato.</div>
                                            <small id="errorMontoContrato" class="text-danger d-none"></small>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="montoFianza" class="form-label">Monto de la Fianza / Garantía ($)</label>
                                            <input type="number" class="form-control" id="montoFianza" name="SfMontoFianza" required disabled>
                                            <div class="invalid-feedback">Ingrese un monto válido.</div>
                                            <small id="errorMontoFianza" class="text-danger d-none"></small>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="inicioVigencia" class="form-label">Inicio Vigencia</label>
                                            <input type="date" class="form-control" id="inicioVigencia" name="SfInicioVigencia" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="finVigencia" class="form-label">Fin de Vigencia</label>
                                            <input type="date" class="form-control" id="finVigencia" name="SfFinVigencia" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="plazoGarantiaDias" class="form-label">Plazo de Garantías (Días)</label>
                                            <input type="number" class="form-control" id="plazoGarantiaDias" name="SfPlazoGarantiaDias" readonly>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="descripcionRiesgo" class="form-label">OBJETO DEL CONTRATO (descripción del riesgo a garantizar):</label>
                                            <textarea class="form-control" rows="3" id="descripcionRiesgo" name="SfObjetoContrato" required></textarea>
                                            <div class="invalid-feedback">Ingrese la descripción del riesgo.</div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Sección para Garantía Aduanera (GA) -->
                                <div id="datosAduanera" class="d-none">
                                    <hr />
                                    <h3>Datos para Garantía Aduanera</h3>
                                    <div class="row g-3">
                                        <div class="col-md-3">
                                            <label for="tipoSectorGA" class="form-label">Tipo de Sector</label>
                                            <select class="form-select" id="tipoSectorGA" name="SfSectorFianza" required>
                                                <option selected value="Publico">Público</option>
                                            </select>
                                            <div class="invalid-feedback">Seleccione un tipo de sector válido.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="solicitanteGA" class="form-label">Solicitante/Afianzado/Contratista</label>
                                            <input type="text" class="form-control" id="solicitanteGA" name="BenNombre" required>
                                            <div class="invalid-feedback">Ingrese el nombre del solicitante.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="direccionSolicitanteGA" class="form-label">Dirección</label>
                                            <input type="text" class="form-control" id="direccionSolicitanteGA" name="BenDireccion" required>
                                            <div class="invalid-feedback">Ingrese la dirección.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="rucSolicitanteGA" class="form-label">CI/RUC</label>
                                            <input type="text" class="form-control" id="rucSolicitanteGA" name="BenCiRuc" required>
                                            <div class="invalid-feedback">Ingrese el CI o RUC.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="emailSolicitanteGA" class="form-label">E-mail</label>
                                            <input type="email" class="form-control" id="emailSolicitanteGA" name="BenEmail" required>
                                            <div class="invalid-feedback">Ingrese un e-mail válido.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="telefonoSolicitanteGA" class="form-label">Teléfono/Celular</label>
                                            <input type="text" class="form-control" id="telefonoSolicitanteGA" name="BenTelefono" required>
                                            <div class="invalid-feedback">Ingrese un teléfono o celular.</div>
                                        </div>
                                        <!-- Información del Beneficiario (con ids únicos para GA) -->
                                        <div class="divider-with-text">
                                            <span>Información del beneficiario</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="beneficiarioGA" class="form-label">Beneficiario</label>
                                            <input type="text" class="form-control" id="beneficiarioGA" name="BenNombreGA" required>
                                            <div class="invalid-feedback">Ingrese el nombre del beneficiario.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="direccionBeneficiarioGA" class="form-label">Dirección</label>
                                            <input type="text" class="form-control" id="direccionBeneficiarioGA" name="BenDireccionGA" required>
                                            <div class="invalid-feedback">Ingrese la dirección del beneficiario.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="rucBeneficiarioGA" class="form-label">CI/RUC</label>
                                            <input type="text" class="form-control" id="rucBeneficiarioGA" name="BenCiRucGA" required>
                                            <div class="invalid-feedback">Ingrese el CI o RUC del beneficiario.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="emailBeneficiarioGA" class="form-label">E-mail</label>
                                            <input type="email" class="form-control" id="emailBeneficiarioGA" name="BenEmailGA" required>
                                            <div class="invalid-feedback">Ingrese un e-mail válido.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="telefonoBeneficiarioGA" class="form-label">Teléfono/Celular</label>
                                            <input type="text" class="form-control" id="telefonoBeneficiarioGA" name="BenTelefonoGA" required>
                                            <div class="invalid-feedback">Ingrese un teléfono o celular.</div>
                                        </div>
                                        <div class="divider-with-text">
                                            <span>Información adicional</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="montoFianzaGA" class="form-label">Monto de la Fianza / Garantía ($)</label>
                                            <input type="number" class="form-control" id="montoFianzaGA" name="SfMontoFianza" required disabled>
                                            <div class="invalid-feedback">Ingrese un monto válido.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="inicioVigenciaGA" class="form-label">Inicio Vigencia</label>
                                            <input type="date" class="form-control" id="inicioVigenciaGA" name="SfInicioVigencia" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="finVigenciaGA" class="form-label">Fin de Vigencia</label>
                                            <input type="date" class="form-control" id="finVigenciaGA" name="SfFinVigencia" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="plazoGarantiaDiasGA" class="form-label">Plazo garantías (Días)</label>
                                            <input type="text" class="form-control" id="plazoGarantiaDiasGA" name="SfPlazoGarantiaDias" required>
                                            <div class="invalid-feedback">Ingrese el plazo de garantías.</div>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="descripcionRiesgoGA" class="form-label">OBJETO DEL CONTRATO (descripción del riesgo a garantizar):</label>
                                            <textarea class="form-control" rows="3" id="descripcionRiesgoGA" name="SfObjetoContrato" required></textarea>
                                            <div class="invalid-feedback">Ingrese la descripción del riesgo.</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Documentos Secundarios (sólo si monto de fianza > $416,000) -->
                                <div id="documentosSecundarios" class="d-none">
                                    <div class="alert alert-warning">
                                        <strong>Importante:</strong> Para montos mayores a $416,000, seleccione <strong>la prenda real</strong> que desea constituir:
                                    </div>
                                    <div class="form-check me-3">
                                        <input class="form-check-input docSecundario" type="radio" name="prenda" id="prendaComercial" value="Prenda Comercial">
                                        <label class="form-check-label" for="prendaComercial">Prenda Comercial</label>
                                    </div>
                                    <div class="form-check me-3">
                                        <input class="form-check-input docSecundario" type="radio" name="prenda" id="prendaIndustrial" value="Prenda Industrial">
                                        <label class="form-check-label" for="prendaIndustrial">Prenda Industrial</label>
                                    </div>
                                    <div class="form-check me-3">
                                        <input class="form-check-input docSecundario" type="radio" name="prenda" id="prendaHipotecaria" value="Prenda Hipotecaria">
                                        <label class="form-check-label" for="prendaHipotecaria">Prenda Hipotecaria</label>
                                    </div>
                                    <div class="form-check me-3">
                                        <input class="form-check-input docSecundario" type="radio" name="prenda" id="prendaCartaAval" value="Prenda Carta Aval">
                                        <label class="form-check-label" for="prendaCartaAval">Prenda Carta Aval</label>
                                    </div>
                                    <div class="invalid-feedback d-block" id="documentosSecundariosFeedback" style="display: none;">
                                        Seleccione un documento adicional.
                                    </div>
                                    <!-- Formulario adicional para Prenda Comercial -->
                                    <div id="formPrendaComercial" class="d-none col-md-12">
                                        <hr />
                                        <h4>Datos para Prenda Comercial</h4>
                                        <!-- Handsontable para Prendas -->
                                        <div id="prendasExcel" class="col-md-12" style="width: 100%; height: 400px; overflow: hidden; margin-bottom: 20px;"></div>
                                        <!-- Campo oculto para enviar los datos -->
                                        <input type="hidden" name="PrendasJson" id="PrendasJson" />
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label for="observacionesPH2" class="form-label">Subir Archivo</label>
                                                <input type="file" class="form-control" id="observacionesPH2" name="PrenArchivo">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Formulario adicional para Prenda Industrial -->
                                    <div id="formPrendaIndustrial" class="d-none">
                                        <hr>
                                        <h4>Datos para Prenda Industrial</h4>
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label for="observacionesPH" class="form-label">Subir Archivo</label>
                                                <input type="file" class="form-control" id="observacionesPH" name="PrenArchivo">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Formulario adicional para Prenda Hipotecaria -->
                                    <div id="formPrendaHipotecaria" class="d-none">
                                        <hr>
                                        <h4>Datos para Prenda Hipotecaria</h4>
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label for="observacionesPH2" class="form-label">Subir Archivo</label>
                                                <input type="file" class="form-control" id="observacionesPH2" name="PrenArchivo">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Formulario adicional para Carta Aval -->
                                    <div id="formPrendaCartaAval" class="d-none">
                                        <hr>
                                        <h4>Datos para Carta Aval</h4>
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label for="observacionesPH2" class="form-label">Subir Archivo</label>
                                                <input type="file" class="form-control" id="observacionesPH2" name="PrenArchivo">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Botón para guardar solicitud -->
                        <div class="col-12">
                            <button class="btn btn-primary w-100" type="submit">Guardar Solicitud</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {
    <script src="~/assets/js/Fianzas.js"></script>

    @if (!string.IsNullOrEmpty(successMessage))
    {
        <script>
            Swal.fire({
                title: '¡Exito!',
                text: '@successMessage',
                icon: 'success',
                confirmButtonText: 'OK',
                timer: 3000
            });
        </script>
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <script>
            Swal.fire({
                title: 'Error!',
                text: '@errorMessage',
                icon: 'error',
                confirmButtonText: 'OK'
            });
        </script>
    }
}
